@using exp_3_VeriTasima.Models
@model Teacher
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm("Edit","Teacher", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)

        @Html.LabelFor(model => model.Ad)
        @Html.TextBoxFor(model => model.Ad)

        <br />

        @Html.LabelFor(model => model.Soyad)
        @Html.TextBoxFor(model => model.Soyad)

        <br />

        @Html.LabelFor(model => model.Brans)       
        @Html.DropDownListFor(model => model.Brans, ViewBag.dropdownVD as SelectList)
    }
</body>
</html>
