@using exp_3_VeriTasima.Models
@model Ogrenci
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm("Edit", "Student", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)

        @Html.LabelFor(model => model.Ad) @*<label>Ad</label>*@

        @Html.TextBoxFor(model => model.Ad)

        <br />

        @Html.LabelFor(model => model.Soyad) @*<label>Soyad</label>*@

        @Html.TextBoxFor(model => model.Soyad)

        <br />

        <input type="submit" value="Güncelle"/>
    }
</body>
</html>
